
@{
    ViewBag.Title = "User";
  
}

@model WebApplication1.Models.UserModel
<h2>Users</h2>
 

@using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()
<form action="/Home/User" method="post" name="user">
    <p>Введите login:<input type="text" name="login" />
    <p>Введите пароль:<input type="text" name="password" />
    <input type="submit" value="Войти" />
</form>
}

@{if (Model != null)
{
    if (Model.login == null)
    {
        <div>Неправильный логин или пароль</div>
    }
    else
    {
         <div>Вы зашли под: @Model.login</div>
    }
}
}


